GtkToggleButton#togglebuttonuser {
	background: #729fcf;
	background-color: #729fcf;
	color: #202020;
	border: 5px solid #3465a4;
}

GtkToggleButton#togglebuttonuser*:insensitive {
	color: #202020;
}

GtkToggleButton#togglebuttonuser:active {
	background: #638ab3;
	background-color: #638ab3;
	border: 5px solid #204a87;
}

GtkToggleButton#togglebuttoncpu, GtkToggleButton#togglebuttoncpu:insensitive {
	background: #c17d11;
	background-color: #c17d11;
	color: #202020;
	border: 5px solid #8f5902;
}

GtkToggleButton#togglebuttoncpuplayed {
	background: #f16060;
	background-color: #f16060;
	color: #202020;
	border: 5px solid #ef2929;
}

GtkToggleButton#togglebuttoncpuplayed*:insensitive {
	color: #202020;
}