GtkToggleButton#togglebuttonuser {
	background: #729fcf;
	background-color: #729fcf;
	color: #202020;
	border: 5px solid #3465a4;
}

GtkToggleButton#togglebuttonuser*:insensitive {
	color: #202020;
}

GtkToggleButton#togglebuttonuser:active {
	background: #638ab3;
	background-color: #638ab3;
	border: 5px solid #204a87;
}

GtkToggleButton#togglebuttoncpu, GtkToggleButton#togglebuttoncpu:insensitive {
	background: #c17d11;
	background-color: #c17d11;
	color: #202020;
	border: 5px solid #8f5902;
}

GtkToggleButton#togglebuttoncpuplayed {
	background: #f16060;
	background-color: #f16060;
	color: #202020;
	border: 5px solid #ef2929;
}

GtkToggleButton#togglebuttoncpuplayed*:insensitive {
	color: #202020;
}

GtkToggleButton#fieldbutton {
	background: #e1e1e1;
	background-color: #e1e1e1;
	color: #e1e1e1;
	border: 1px solid #a3a3a3;
}

GtkWindow GtkLabel#movetellerplayer {
	background: #729fcf;
	background-color: #729fcf;
	margin-top: 500px;
	margin-bottom: 500px;
	border-radius: 500px;
}

GtkWindow GtkLabel#movetellercpu {
	background: #f16060;
	background-color:#f16060;
	margin-top: 500px;
	margin-bottom: 500px;
	border-radius : 500px;
}

GtkLabel#yellowrune {
	background: #edd400;
	background-color: #edd400;
	border: 1px solid #a3a3a3;
	font-family: "Consolas", "Courier", "Courier New", "Lucida Console"; /* choose a font, if the first font is not available select the second font and so on */
}

GtkLabel#bluerune {
	background: #729fcf;
	background-color: #729fcf;
	border: 1px solid #a3a3a3;
	font-family: "Consolas", "Courier", "Courier New", "Lucida Console"; /* choose a font, if the first font is not available select the second font and so on */
}

GtkLabel#redrune {
	background: #f16060;
	background-color: #f16060;
	border: 1px solid #a3a3a3;
	font-family: "Consolas", "Courier", "Courier New", "Lucida Console"; /* choose a font, if the first font is not available select the second font and so on */
}

GtkLabel#greenrune {
	background: #73d216;
	background-color: #73d216;
	border: 1px solid #a3a3a3;
	font-family: "Consolas", "Courier", "Courier New", "Lucida Console"; /* choose a font, if the first font is not available select the second font and so on */
}

GtkLabel#augmentedLabel {
	background: #2ef6dd;
	background-color: #2ef6dd;
	border: 1px solid #a3a3a3;
	font-family: "Consolas", "Courier", "Courier New", "Lucida Console"; /* choose a font, if the first font is not available select the second font and so on */
}

GtkLabel#decreasedLabel {
	background: #f9892d;
	background-color: #f9892d;
	border: 1px solid #a3a3a3;
	font-family: "Consolas", "Courier", "Courier New", "Lucida Console"; /* choose a font, if the first font is not available select the second font and so on */
}

GtkLabel#cardLabel {
	font-family: "Consolas", "Courier", "Courier New", "Lucida Console"; /* choose a font, if the first font is not available select the second font and so on */
}

